{{#if this.collection}}
  <div class="values">
    {{#each this.collection as |value index|}}
      <div class="value" data-index={{index}}>
        {{d-button
          action=(action "removeValue")
          actionParam=value
          icon="times"
          class="remove-value-btn btn-small"
        }}

        <input
          type="text"
          title={{value}}
          value={{value}}
          class="value-input"
          {{on "focusout" (fn this.changeValue index)}}
        />
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="simple-list-input">
  <input
    type="text"
    value={{this.newValue}}
    placeholder={{i18n this.resolvedPlaceholderKey}}
    class="add-value-input"
    autocomplete="discourse"
    autocorrect="off"
    autocapitalize="off"
    {{on "input" this.newValueChanged}}
  />

  {{#if this.newValue}}
    {{d-button
      action=(action "addValue")
      actionParam=this.newValue
      icon="plus"
      class="add-value-btn btn-small"
    }}
  {{else}}
    {{#if this.hasVideoUploader}}
      {{video-uploader refresh=(action "addUploadUrl")}}
    {{/if}}

    {{#if this.hasVTTUploader}}
      {{vtt-uploader refresh=(action "addUploadUrl")}}
    {{/if}}
  {{/if}}
</div>
