<DModal
  @closeModal={{@closeModal}}
  @title={{theme-i18n "modal.title"}}
  class="insert-video-modal"
  {{did-insert this.preventSubmitOnEnter}}
>
  <:body>
    <div class="insert-video-inputs video-sources">
      <label>
        {{theme-i18n "modal.video_title"}}
      </label>

      <CustomSimpleList @values={{this.sources}} @hasVideoUploader={{true}} />
    </div>

    <div class="insert-video-inputs video-poster">
      <label>
        {{theme-i18n "modal.poster"}}
      </label>

      <PosterUploader @setPoster={{this.setPoster}} />
    </div>

    <div class="insert-video-inputs video-subtitles">
      <label>
        {{theme-i18n "modal.vtt_title"}}
      </label>

      <CustomSimpleList @values={{this.tracks}} @hasVTTUploader={{true}} />
      <div class="desc">{{theme-i18n "modal.vtt_help"}}</div>
    </div>

    {{#if this.insertDisabled}}
      <div class="video-insert-error">
        {{this.validationMessage}}
      </div>
    {{/if}}
  </:body>
  <:footer>
    <DButton
      class="btn-primary"
      data-test-id="insert-video-button"
      @disabled={{this.insertDisabled}}
      @label={{theme-prefix "modal.insert"}}
      @action={{this.insertVideo}}
    />
    <DButton
      class="btn-danger"
      @label={{theme-prefix "modal.cancel"}}
      @action={{@closeModal}}
    />
  </:footer>
</DModal>