{{#d-modal-body title=(theme-prefix "modal.title") class="insert-video"}}
  <label>
    {{theme-i18n "modal.video_title"}}
  </label>
  <div class="insert-video-inputs video-sources">
    {{simple-list
      values=sources
      hasVideoUploader=true
    }}

    {{input name="poster-image" value=poster placeholder=(theme-i18n "modal.poster")}}
  </div>

  <div class="insert-video-inputs video-subtitles">
    <label>
      {{theme-i18n "modal.vtt_title"}}
    </label>
    {{simple-list
      values=tracks
      hasVTTUploader=true
    }}
    <div class="desc">{{theme-i18n "modal.vtt_help"}}</div>
  </div>

  {{#if insertDisabled}}
    <div class="video-insert-error">
      {{validationMessage}}
    </div>
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn-primary" disabled=insertDisabled label=(theme-prefix "modal.insert") action=(action "insert")}}
  {{d-button class="btn-danger" label=(theme-prefix "modal.cancel") action=(action "cancel")}}
</div>
